{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Simple Cyclic Scheduling Online</h1>
    <hr>
    <br>
    <div class="card">
        <div class="card-header">
            <h3>Tasks</h3>
            <form action="" enctype="multipart/form-data" id="form1" method="POST">
                <input id="fileval" name="filename" type="file">
                <input id="tasks_data" name="tasks_data" type="hidden" value="">
                <div>
                    <div class="form-group">
                        <label for="wcet_gap">
                            WCET context switching gap
                        </label>
                        <input class="form-control" id="wcet_gap" name="wcet_gap" type="number" value="0">
                    </div>
                    <div class="form-group form-check-inline">
                        <input class="form-check-input" id="optimizeCheck" type="checkbox" value="">
                        <label class="form-check-label" for="optimizeCheck">
                            Optimization
                        </label>
                    </div>
                    <div class="form-group form-check-inline">
                        <input class="form-check-input" disabled id="annealingCheck" type="checkbox" value="">
                        <label class="form-check-label" for="annealingCheck">
                            Use simulated annealing
                        </label>
                    </div>
                    <div aria-label="Basic example" class="" id="top-buttons" role="group">
                        <button class="btn btn-primary mr-1" id="exportCsv" type="button"><i class="fa fa-calendar"></i>
                            Export
                            CSV
                        </button>
                        <button class="btn btn-primary" id="schedule" type="button"><i class="fa fa-tasks"></i>
                            Generate Schedule
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <span class="table-add float-right mb-3" id="addNewTask">
               <button class="btn btn-success btn-responsive" type="button"><i
                       class="fa fa-plus"></i> Add New Task</button>
            </span>
            <table class="table table-bordered table-responsive-md table-hover table-striped table-editable"
                   id="task_table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Period</th>
                    <th scope="col">Execution</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Offset</th>
                    <th scope="col">Allowed Jitter</th>
                    <th scope="col">CPU ID</th>
                    <th scope="col">Fixed Start</th>
                    <th scope="col">Name</th>
                    <th scope="col">Function</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>
            <div class="float-left">
                <div>
                    <h6 class="float-left mr-2" id="util">Utilization:</h6>
                    <h6 class="float-right" id="utilVal"></h6>
                </div>
                <div>
                    <h6 class="float-left mr-2" id="hyper">Hyperperiod:</h6>
                    <h6 class="float-right" id="hyperVal"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">Job Status</h3>
        <div class="card-body">
            <table class="table table-striped table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Elapsed Time (ms)</th>
                </tr>
                </thead>
                <tbody id="sessions">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" id="schedule_card">
        <h3 class="card-header">Schedule Timeline
            <div class="float-right" id="downloadBtn"></div>
        </h3>
        <div class="card-body" id="schedule_chart" style="height: 100%"></div>
    </div>
</div>
</div>

{% endblock %}
