{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Simple Cyclic Scheduling Online</h1>
    <hr>
    <br>
    <div class="card">
        <div class="card-header">
            <h3>How to use:</h3>

        </div>
        <div class="card-body">
            <div>
                <p>
                    The app can be used in two ways to generate a cyclic executive schedule for a set of real-time
                    tasks.
                    Firstly, by using the table input as shown below to enter the desired tasks specification.
                    Secondly, by uploading a CSV formatted text file. The CSV format must mimic
                    the input table and start with the field headers from cell 1A.
                </p>
                <h6>Fields:</h6>
                <ul>
                    <li><strong>Period:</strong> Defines the period task.</li>
                    <li><strong>Execution:</strong> Defines the worst-case execution time of the task.</li>
                    <li><strong>Deadline:</strong> Defines a relative deadline with respect to the period of the task.
                        This field can be used to force the scheduler to schedule a task before a
                        specific point in time.
                    </li>
                    <li><strong>Offset:</strong> Defines a relative offset with respect to the period of the task.
                        This field can be also used to force the scheduler to schedule the activation
                        instance of a task after a specific point in time.
                    </li>
                    <li><strong>Allowed Jitter:</strong> Defines the maximum allowed jitter that a task can experience,
                        i.e. the tolerated amount of time that a task is allowed to be scheduled
                        after its period or deadline.
                    </li>
                    <li><strong>CPU ID:</strong> Defines the CPU ID that the task belongs to. This field can be used
                        allow the scheduler to overlap the execution of two tasks under the assumption that they are
                        executed
                        by different processors.
                    </li>
                    <li><strong>Name:</strong> Sets the name of the task both in the generated plot and the generate
                        code.
                    </li>
                    <li><strong>Function:</strong> Sets the callable name of the C function of the respective task.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <h3 class="card-header">Background</h3>
        <div class="card-body">

        </div>
    </div>
{#    <div class="card">#}
{#        <h3 class="card-header">Authors?</h3>#}
{##}
{#        </div>#}
{#    </div>#}
</div>
</div>

{% endblock %}
